[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
Flask = "*"
flask-WTF = "*"
flask-bootstrap = "*"
elasticsearch="*"

[requires]
python_version = "3.7"
