{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='js/dependent_dropdown.js') }}"></script>
    <h2 class="title">
        Dropdown
    </h2>
    <br>
    <div class="form-group col-md-6 ">
        <label for="sel1">Select Country:</label>
        <select class="form-control" id="country_dd">
            <option value="" selected="selected">Select Country</option>
        </select>
    </div>
    <br>
    <div class="form-group col-md-6 ">
        <label for="sel1">Select State:</label>
        <select class="form-control" id="state_dd">
            <option value="" selected="selected">Select State</option>
        </select>
    </div>
    <br>
    <div class="form-group col-md-6 ">
        <label for="sel1">Select City:</label>
        <select class="form-control" id="city_dd">
            <option value="" selected="selected">Select City</option>
        </select>
        <br>
        <h2>
            <label id="selected_city"> Select Country </label>
        </h2>
    </div>
    <br>
{% endblock %}
