{% extends "base.html" %}

{% block content %}
    <h2 class="title">
        Welcome to Sample dropdown project
    </h2>
    <br>
    <div class="jumbotron">
        <h1>Dropdown Tab</h1>
        <p class="lead">In this tab you will get dependent dropdown for country, state and city.</p>
    </div>
    <div class="jumbotron">
        <h1>Country Tab</h1>
        <p class="lead">In this tab you create, retrieve, update and delete list of countries.</p>
    </div>
    <div class="jumbotron">
        <h1>State Tab</h1>
        <p class="lead">In this tab you create, retrieve, update and delete list of states.</p>
    </div>
    <div class="jumbotron">
        <h1>City Tab</h1>
        <p class="lead">In this tab you create, retrieve, update and delete list of cities.</p>
    </div>
{% endblock %}
